<!DOCTYPE html>
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/default.js"></script>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

    <link rel="stylesheet" href="/css/default.css">

</head>
<body>
	<header class="header">
        <div>
            <div class="header-logo">
                <a href="/"><img src="/img/헤더로고2.png" ></a>
            </div>
            <nav class="header-nav">
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="/recipe/list?reqPage=1">레시피 게시판</a></li>
                    <li><a href="#">자유 게시판</a></li>
                    <li><a href="/qna/list?reqPage=1">질문 게시판</a></li>
                </ul>
            </nav>
            <form action="#" method="get">
                <div class="header-search-box">
                    <input type="text" class="header-search">
                    <span class="material-icons header-search-icon">search</span>
                </div>
            </form>
            <div class="header-user-btns">
            	<th:block th:if="${session.member == null}">
	                <button type="button" class="header-login-btn" id="headerLoginBtn">로그인</button>
	                <button type="button" class="header-join-btn">회원가입</button>
	            </th:block>
                <th:block th:if="${session.member != null}">
	                <button type="button" class="header-login-btn" th:text="${session.member.memberNickname}"></button>
	                <button type="button" class="header-join-btn">로그아웃</button>
                </th:block>
            </div>            
        </div>
    </header>
    <script>
		const headerLoginBtn = document.querySelector("#headerLoginBtn");
		headerLoginBtn.onclick = function(){
			location.href = "/member/loginFrm";
		}
	</script>
</body>
</html>