<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.space{
		height:50px;
	}

	
	body{
		background-color:#eeeeee;
		/*임시 적용 헤더 완성되면 제거*/
	}
	
	.content-title{
		text-align:center;
	    font-size: 22px;
    	color: #EBA854 ;
    	font-family: ns-b;
    	/*임시 적용 헤더 완성되면 제거*/
	}
	.recipe.content{
		width:1080px;
		margin:100px auto;
		
	}
	.recipe.content-box{
		background-color:white;
		width : 100%;
		min-height: 500px;
		border-radius:20px;
		box-shadow:0 6px 18px rgba(0,0,0,.08);
	}
	.recipe.title{
		width : 100%;
		height : 100px;
		text-align:center;
		line-height:100px;
		font-weight:900;
		font-size:24px;
	}
	.recipe.info{
		display:flex;
		justify-content:space-between;
		padding : 20px 100px;
	}
	.recipe.info > div{
	  display:flex; 
	  align-items:center; 
	  gap:10px;
	  background:#fafafa;
	  border-radius:12px;
	  padding:10px 12px;
	  box-shadow: 0 0 0 2px #eee;
	}
	.recipe.info .material-icons{
		font-size:20px; 
		color:#EBA854 ;
	}
	
	a{
		color:#EBA854;
		text-decoration: none;
	}
	a:hover{
		color:#72450d;
		cursor:pointer;
	}
	.recipe.cookingOrderList{
		display:flex;
		justify-content:space-between;
		padding : 20px 100px;
	}
	.listFlex{
		display:flex;
		justify-content:space-between;
		padding : 20px 100px;
		flex-direction:row;
	}
	.recipe.detailInfo-title{
		font-size:1.2em;
		font-weight:900;
		text-align:center;
		padding:20px 0px;
	}
	.recipe.comment-box-input{
		width:100%;
		min-height:150px;
		background-color:white;
		border-radius:20px;
		margin:50px 0px;
		padding : 20px;
		box-sizing:border-box;
		box-shadow:0 6px 18px rgba(0,0,0,.08);
	}
	.recipe.comment-box-output{
		width:100%;
		min-height:150px;
		background-color:white;
		border-radius:20px;
		margin:50px 0px;
		padding : 20px;
		box-sizing:border-box;
		box-shadow:0 6px 18px rgba(0,0,0,.08);
	}
	.recipe.comment-box-input>form{
		height:100%;
	}
	.recipe.comment-box-input input{
		background-color:transparent;
	}
	.recipe.pointer span,.recipe.pointer input{
		color:#EBA854;
		font-size:1em;
	}
	.recipe.pointer span:hover,.recipe.pointer input:hover{
		cursor:pointer;
		color:#72450d;
	}

	.recipe.btn{
		height:32px;
		width:150px;
		border-radius:20px;
		background-color:#FF9D23;
		color:white;
		border:none;
	}
	.recipe.btn.delete{
		background-color:#EAEAEA;
		color:#848484;
	}
	.recipe.gradeinput{
		text-align:center;
	}
	.recipe.gradeinput span:hover{
		cursor:pointer;
	}
	.recipe.line{
		border:1px solid #dddddd;
		margin:10px 10px;
	}
	
	hr{
	  border:1px solid #e6e6e6;
	 }
	button:hover{
		cursor:pointer;
	}
	.comment-box-input.not-login{
		width:100%;
		display:flex;
		flex-direction:column;
		gap : 20px;
		justify-content : center;
		text-align:center;
		box-sizing:border-box;
	}
	.recipe.textarea{
		height:75px;
		width:98%;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="space"></div>
	<main class="recipe content">
		<form action="/recipe/commentInsert" method="post">
			<section class="recipe content-body">
				<div class="recipe content-box">
				
	
					<div class="recipe title" th:text="${recipeDetailSet.recipeDetail.recipeTitle}"></div>
					<hr>
					<div class="recipe info">
						<div class="recipe type" th:text="${recipeDetailSet.recipeDetail.recipeType}"></div>
						<div class="recipe level">난이도 : <span th:text="${recipeDetailSet.recipeDetail.recipeLevel}"></span></div>
						<div class="recipe cookingTime"><span class="material-icons">access_time</span> <span th:text="${recipeDetailSet.recipeDetail.recipeCookingTime}"></span> Mins</div>
						<div class="recipe viewCount"><span class="material-icons">remove_red_eye</span> <span th:text="${recipeDetailSet.recipeDetail.recipeViewCount}"></span></div>
						<div class="recipe writeDate"><span class="material-icons">calendar_month</span> <span th:text="${recipeDetailSet.recipeDetail.recipeWriteDate}"></span></div>
					</div>
					<hr>
		
					<div class="recipe detailInfo">
					<div class="recipe detailInfo-title">재료</div>
						<div class="recipe ingredientList">
							<div class="listFlex">
								<div th:each="ri : ${recipeDetailSet.recipeIngredientList}" th:if="${recipeDetailSet.recipeIngredientList.indexOf(ri)+1}<=4">
										<div><span th:text="${ri.recipeIngredientName}" style="margin-right:10px;"></span><a class="recipe btn" th:href="@{https://www.coupang.com/np/search(q=${ri.recipeIngredientName})}"  target="_blank" style="padding:0px 15px; background-color: #FF9D23; border: none; color: #fff; border-radius: 15px; font-weight: bold">구매</a></div>
										<div th:text="${ri.recipeIngredientVolume}"></div>
								</div>
							</div>
							<div class="listFlex">
								<div th:each="ri : ${recipeDetailSet.recipeIngredientList}" th:if="${recipeDetailSet.recipeIngredientList.indexOf(ri)+1}>4">
										<div><span th:text="${ri.recipeIngredientName}" style="margin-right:10px;"></span><a class="recipe btn" th:href="@{https://www.coupang.com/np/search(q=${ri.recipeIngredientName})}"  target="_blank" style="padding:0px 15px; background-color: #FF9D23; border: none; color: #fff; border-radius: 15px; font-weight: bold">구매</a></div>
										<div th:text="${ri.recipeIngredientVolume}"></div>
								</div>
							</div>
						</div>
						<div class="recipe detailInfo-title">조리 순서</div>
						<div class="recipe cookingOrderList">
							<table>
								<tr>
									<th style="height:80px;">순서</th>
									<th>조리 내용</th>
									<th>참고 이미지</th>
								</tr>
								<tr><td colspan="3"><hr></td></tr>
							<th:block th:each="rc : ${recipeDetailSet.recipeCookingOrderList}">
								<tr>
									<td style="width:10%; text-align:center;"><span th:text="${rc.recipeCookingOrder}" style="display:inline-block; line-height:40px; color: white; width:40px;height:40px; background-color:#EBA854; border-radius:40px; text-align:center"></span></td>
									<td th:text="${rc.recipeCookingContent}" style="width:40%; padding:40px"></td>
									<td style="width:40%;"><img th:src="${rc.recipeCookingOrderImgPath}" alt="조리순서" style = "width:100%;" ></td>
								</tr>
								<tr><td colspan="3"><hr></td></tr>
							</th:block>
							</table>
						</div>
						<div class="recipe detailInfo-title">주의사항</div>
						<div class="recipe caution" style="text-align:center;" th:text="${recipeDetailSet.recipeDetail.recipeCaution}"></div>
						<div class="space"></div>
						
						<th:block th:if="${session.member != null}">
						<hr style="margin-bottom:20px;">
							<div class="recipe gradeinput">
								<div>평점주기</div>
								<span class="material-icons">star</span>
								<span class="material-icons">star</span>
								<span class="material-icons">star</span>
								<span class="material-icons">star</span>
								<span class="material-icons">star</span>
								<input type="hidden" name="recipeNo" id="recipeNo" th:value="${recipeDetailSet.recipeDetail.recipeNo}">
								<input type="hidden" name="memberNo" id="memberNo" th:value="${session.member.memberNo}">
							</div>
							<div class="recipe pointer" style="text-align:right; padding:0px 30px; color:red;" th:onclick="reportRecipe([[${recipeDetailSet.recipeDetail.recipeNo}]],[[${session.member.memberNo}]])" th:if="${recipeDetailSet.recipeDetail.memberNo}!=${session.member.memberNo}"><span>신고하기</span><span class="material-icons">cell_tower</span></div>
							<th:block th:if="${session.member.memberNo} == ${recipeDetailSet.recipeDetail.memberNo}">
								<hr style="margin-top:20px;">
								<div class="recipe button" style="display:flex; justify-content:center; gap:100px; padding:50px;">
									<button type="button" class="recipe btn edit" th:onclick="editRecipe([[${recipeDetailSet.recipeDetail.recipeNo}]])">게시글 수정</button>
									<button type="button" class="recipe btn delete" th:onclick="deleteRecipe([[${recipeDetailSet.recipeDetail.recipeNo}]])">게시글 삭제</button>
								</div>
							</th:block>
						</th:block>
						
					</div>
				</div>
			</section>
			<section class="recipe content-footer">
				<th:block th:if="${session.member!=null}">
					<div class="recipe comment-box-input">
						
						<!-- ★★★★★★★★★★★★★★★★★★★★★★★ 전송 정보 ★★★★★★★★★★★★★★★★★★★★★★★ -->
						
									<table class="recipe line" style="width:100%">
										<tr>
											<td style="width:10%;"><span class="material-icons" style="font-size:100px; color:#444444;">portrait</span></td>
											<td>
												
												<!-- ★★★★★★★★★★★★★★★★★★★★★★★ 데이터 준비 - 댓글 내용 ★★★★★★★★★★★★★★★★★★★★★★★ -->
												<textarea name= "recipeCommentContent" class="recipe textarea" required></textarea>
											
											</td>
										</tr>
									</table>
									<!-- ★★★★★★★★★★★★★★★★★★★★★★★ 데이터 준비 - 레시피 번호 ★★★★★★★★★★★★★★★★★★★★★★★ -->
									<input type="hidden" name="recipeNo" th:value="${recipeDetailSet.recipeDetail.recipeNo}">
									<!-- ★★★★★★★★★★★★★★★★★★★★★★★ 데이터 준비 - 작성자 번호(PK) ★★★★★★★★★★★★★★★★★★★★★★★ -->
									<input type="hidden" name="memberNo" th:value="${session.member.memberNo}">
									<div style="text-align:right" class="recipe pointer">
										<span class="material-icons">create</span>
										
										<!-- ★★★★★★★★★★★★★★★★★★★★★★★ 데이터 보내기 ★★★★★★★★★★★★★★★★★★★★★★★ -->
										<input type="submit" value="댓글 작성" style="border:none" id="ajax">
									</div>
						
					</div>
				</th:block>
				<th:block th:if="${session.member ==null}">
				<div class="recipe comment-box-input not-login"> 
					<div><span>댓글 작성은 로그인 후 이용 가능합니다.</span></div>
					<div><a class="recipe btn" th:href="@{/member/loginFrm}" style="display:inline-block; width:78px; height:26px;">로그인</a></div>
				</div>
				</th:block>
				<th:block th:if="${session.member !=null}">
				<div class="recipe comment-box-output" th:if=${recipeDetailSet.recipeCommentList.size}!=0>
					<th:block th:each="rcomment:${recipeDetailSet.recipeCommentList}">
						<div th:id="recipecommentbox+'-'+${rcomment.recipeCommentNo}">
							<table class="recipe line" style="width:100%;">
								<tr>
									<td rowspan="2" style="width:10%;"><span class="material-icons" style="font-size:100px; color:#444444;">portrait</span></td>
									<td style="width:20%; text-align:left; height:30px; padding-top:10px;"><div><span th:text="${rcomment.memberNickname}"></span></div></td>
									<td style="width:70%; text-align:right; height:30px; padding-top:10px; padding-right:10px;"><div><span th:text="${rcomment.recipeCommentDate}"></span></div></td>
								</tr>
								<tr>
									<td colspan="2" style="color:#444444;"><div id="recipeCommentDivId" th:text="${rcomment.recipeCommentContent}"></div></td>
								</tr>
							</table>
							<div class="recipe comment link" style="justify-content:flex-end; margin-bottom:30px; display:flex; gap:20px;">
								<a th:onclick="reportRecipeComment([[${rcomment.recipeCommentNo}]],[[${session.member.memberNo}]])" th:if="${rcomment.memberNo}!=${session.member.memberNo}">신고하기</a>
								<a th:onclick="editRecipeComment(this,[[${rcomment.recipeCommentNo}]],[[${rcomment.recipeNo}]],[[${rcomment.recipeCommentContent}]])" th:if="${rcomment.memberNo}==${session.member.memberNo}">수정하기</a>
								<a th:onclick="deleteRecipeComment([[${rcomment.recipeCommentNo}]],[[${rcomment.recipeNo}]])" th:if="${rcomment.memberNo}==${session.member.memberNo}">삭제하기</a>
							</div>
						</div>
					</th:block>
				</div>
				<div class="recipe comment-box-output" th:if=${recipeDetailSet.recipeCommentList.size}==0 style="display:flex; align-items:center; justify-content:center;">
				댓글이 없습니다.🤦‍♂️ 첫 댓글을 입력해보세요!
				</div>
				</th:block>
			</section>
		</form>
	</main>

	<script src="/js/sweetalert.min.js"></script>
	<script>
	function editRecipeComment(o,recipeCommentNo,recipeNo,recipeCommentContent){
		//1. 수정 버튼을 누른다. -> 수정하기 버튼을 수정 완료로 변경
		$(o).text("수정 완료");
		$(o).attr("onclick","editCommentComplete(this,"+recipeCommentNo+","+recipeNo+")");
		
		//2. 수정 버튼을 누른다. -> 삭제하기 버튼을 수정 취소로 변경
		$(o).next().text("수정 취소");
		$(o).next().attr("onclick","editCommentCancel(this,"+recipeCommentNo+","+recipeNo+")");
		
		//3. 수정 버튼을 누른다. -> 현재 수정하려는 table에서 두번째 tr 내 td의 text 값을 가져온다.
		const text=$(o).parent().prev().children().children().eq(1).children().children().eq(0).text();
		
		//4. 수정 버튼을 누른다. -> 현재 수정하려는 table에서 두번째 tr 내 td의 text 값을 숨김 처리한다.
		$(o).parent().prev().children().children().eq(1).children().children().hide();
		
		//5. 수정 버튼을 누른다. -> 현재 수정하려는 table에서 두번째 tr을 input 박스로 교체한다. (value값은 3번의 값으로 넣어둔다.)
		const textarea = $("<textarea>");
		textarea.attr("name","recipeCommentContent");
		textarea.addClass("recipe textarea");
		textarea.val(text);
		const div=$("<div>");
		div.append(textarea);
		$(o).parent().prev().children().children().eq(1).children().append(div);
	}
	//7. 수정 완료 버튼을 클릭하면 댓글 수정 완료 js 를 호출한다.
	function editCommentComplete(o,recipeCommentNo,recipeNo){
		const editText=$(o).parent().prev().children().children().eq(1).children().children().children().val();
		console.log(editText);
		//8. 수정 완료 js에서는 댓글 수정 완료 컨트롤러를 호출한다.
		$.ajax({
			url:"/recipe/editComment",
			type:"post",
			data:{recipeCommentNo:recipeCommentNo,recipeNo:recipeNo,editText:editText},
			success:function(r){
				//인풋 박스 remove -> hide처리된 text 다시 show 처리 후 수정된 text로 값 변경
				if(r==="success"){
					swal({
						title : "알림",
						text : "댓글 수정이 완료되었습니다.",
						icon : "warning",
						buttons : {
							confirm : {
								text:"확인",
								value:true,
								visible : true,
								className : "btn-primary",
								closeModal : true
							}
						}
						}).then(function(isConfirm){
							$(o).parent().prev().children().children().eq(1).children().children().eq(0).show();
							$(o).parent().prev().children().children().eq(1).children().children().eq(0).text(editText);
							$(o).parent().prev().children().children().eq(1).children().children().eq(1).remove();
							//인풋 박스 remove -> hide처리된 text 다시 show 처리 후 수정된 text로 값 변경
							$(o).text("수정하기");
							$(o).attr("onclick","editRecipeComment(this,"+recipeCommentNo+","+recipeNo+")");
							
							//2. 수정 버튼을 누른다. -> 삭제하기 버튼을 수정 취소로 변경
							$(o).next().text("삭제하기");
							$(o).next().attr("onclick","deleteRecipeComment("+recipeCommentNo+","+recipeNo+")");
						})
				}else if(r==="fail"){
					swal({
						title : "알림",
						text : "댓글 수정이 실패했습니다.",
						icon : "warning",
						buttons : {
							confirm : {
								text:"확인",
								value:true,
								visible : true,
								className : "btn-primary",
								closeModal : true
							}
						}
						}).then(function(isConfirm){
							$(o).parent().prev().children().children().eq(1).children().children().eq(0).show();
							$(o).parent().prev().children().children().eq(1).children().children().eq(1).remove();
							//인풋 박스 remove -> hide처리된 text 다시 show 처리 후 수정된 text로 값 변경
						})
				}
			}
		})
	}
	function editCommentCancel(o,recipeCommentNo,recipeNo){
		$(o).parent().prev().children().children().eq(1).children().children().eq(0).show();
		$(o).parent().prev().children().children().eq(1).children().children().eq(1).remove();
		$(o).prev().text("수정하기");
		$(o).prev().attr("onclick","editRecipeComment(this,"+recipeCommentNo+","+recipeNo+")");
		
		//2. 수정 버튼을 누른다. -> 삭제하기 버튼을 수정 취소로 변경
		$(o).text("삭제하기");
		$(o).attr("onclick","deleteRecipeComment("+recipeCommentNo+","+recipeNo+")");
	}
		//9. 수정 취소 js에서는 4번에서 hide 처리된 text를 다시 show 처리하고 현재 인풋박스는 remove 
		function deleteRecipe(recipeNo){
			swal({
				title : "레시피 삭제",
				text : "게시글을 삭제하시겠습니까?",
				icon : "warning",
				buttons : {
					confirm : {
						text:"삭제",
						value:true,
						visible : true,
						className : "btn-primary",
						closeModal : true
					},
					cancel:{
						text:"취소",
						value:false,
						visible : true,
						className : "btn-secondary",
						closeModal : true
					}
				}
			}).then(function(isConfirm){
					console.log(recipeNo);
				if(isConfirm){
					$.ajax({
						url:"/recipe/delete",
						type:"post",
						data:{recipeNo:recipeNo},
						success:function(result){
							if(result==="success")
								{
									swal({
										title : "알림",
										text : "게시글이 삭제되었습니다.",
										icon : "warning",
										buttons : {
											confirm : {
												text:"확인",
												value:true,
												visible : true,
												className : "btn-primary",
												closeModal : true
											}
										}
									}).then(function(isConfirm){
										if(isConfirm){
											location.href="/recipe/list?reqPage=1";
										}
									});
								}else{
									swal({
										title : "실패",
										text : "삭제 권한이 없어요",
											icon : "warning",
											buttons : {
												confirm : {
													text:"확인",
													value:true,
													visible : true,
													className : "btn-primary",
													closeModal : true
												}
											}
									})
								}
						}
					})
				}
			});
		}
		
		function editRecipe(recipeNo){
			swal({
				title : "레시피 수정",
				text : "게시글을 수정하시겠습니까?",
				icon : "warning",
				buttons : {
					confirm : {
						text:"수정",
						value:true,
						visible : true,
						className : "btn-primary",
						closeModal : true
					},
					cancel:{
						text:"취소",
						value:false,
						visible : true,
						className : "btn-secondary",
						closeModal : true
					}
				}
			}).then(function(isConfirm){
					console.log(recipeNo);
				if(isConfirm){
					console.log("confirm으로 넘어옴");
					location.href="/recipe/editFrm?recipeNo="+recipeNo;
				}
			});
		}
		
		function deleteRecipeComment(recipeCommentNo,recipeNo){
			
			swal({
				title : "댓글 삭제",
				text : "댓글을 삭제하시겠습니까?",
				icon : "warning",
				buttons : {
					confirm : {
						text:"삭제",
						value:true,
						visible : true,
						className : "btn-primary",
						closeModal : true
					},
					cancel:{
						text:"취소",
						value:false,
						visible : true,
						className : "btn-secondary",
						closeModal : true
					}
				}
			}).then(function(isConfirm){
					console.log("삭제된 댓글의 게시글 번호 : "+recipeNo);
					console.log("삭제된 댓글 번호 : "+recipeCommentNo);
				if(isConfirm){
					$.ajax({
						url:"/recipe/deleteComment",
						type:"post",
						data:{recipeCommentNo:recipeCommentNo,recipeNo:recipeNo},
						success:function(result){
							console.log(result);
							if(result.result===1)
								{
									swal({
										title : "알림",
										text : "댓글이 삭제되었습니다.",
										icon : "warning",
										buttons : {
											confirm : {
												text:"확인",
												value:true,
												visible : true,
												className : "btn-primary",
												closeModal : true
											}
										}
										}).then(function(isConfirm){
											console.log(result.recipeCommentList);
											$("#recipecommentbox-"+recipeCommentNo).remove();
										})
										//$("#recipecommentbox-${rcomment.recipeCommentNo}").remove();
								}else{
									swal({
										title : "실패",
										text : "삭제 권한이 없어요",
											icon : "warning",
											buttons : {
												confirm : {
													text:"확인",
													value:true,
													visible : true,
													className : "btn-primary",
													closeModal : true
												}
											}
									})
								}
						}
					})
				}
			});
		}
		
		function reportRecipe(recipeNo,memberNo){
			swal({
				title : "레시피 신고",
				text : "게시글을 신고하시겠습니까?",
				icon : "warning",
				buttons : {
					confirm : {
						text:"신고",
						value:true,
						visible : true,
						className : "btn-primary",
						closeModal : true
					},
					cancel:{
						text:"취소",
						value:false,
						visible : true,
						className : "btn-secondary",
						closeModal : true
					}
				}
			}).then(function(isConfirm){
				
				if(isConfirm){
					$.ajax({
						url:"/recipe/report",
						type:"post",
						data:{recipeNo:recipeNo,memberNo:memberNo},
						success:function(result){
							if(result==="success"){
								swal({
									title : "알림",
									text : "게시글 신고가 완료되었습니다.",
									icon : "warning",
									buttons : {
										confirm : {
											text:"확인",
											value:true,
											visible : true,
											className : "btn-primary",
											closeModal : true
										}
									}
								});
							}else{
								swal({
									title : "알림",
									text : "이미 신고했습니다.",
									icon : "warning",
									buttons : {
										confirm : {
											text:"확인",
											value:true,
											visible : true,
											className : "btn-primary",
											closeModal : true
										}
									}
								});
							}
						}
					})
//					location.href="/recipe/detail?reqRecipeNo="+recipeNo;
				}
			})
		};
		
		function reportRecipeComment(recipeCommentNo,memberNo){
			console.log(recipeCommentNo);
			console.log(memberNo);
			swal({
				title : "댓글 신고",
				text : "댓글을 신고하시겠습니까?",
				icon : "warning",
				buttons : {
					confirm : {
						text:"신고",
						value:true,
						visible : true,
						className : "btn-primary",
						closeModal : true
					},
					cancel:{
						text:"취소",
						value:false,
						visible : true,
						className : "btn-secondary",
						closeModal : true
					}
				}
			}).then(function(isConfirm){
				console.log("신고"+isConfirm);
				if(isConfirm){
					$.ajax({
						url:"/recipe/commentReport",
						type:"post",
						data:{recipeCommentNo:recipeCommentNo,memberNo:memberNo},
						success:function(result){
							if(result==="success"){
								swal({
									title : "알림",
									text : "댓글 신고가 완료되었습니다.",
									icon : "warning",
									buttons : {
										confirm : {
											text:"확인",
											value:true,
											visible : true,
											className : "btn-primary",
											closeModal : true
										}
									}
								});
							}else{
								swal({
									title : "알림",
									text : "이미 신고했습니다.",
									icon : "warning",
									buttons : {
										confirm : {
											text:"확인",
											value:true,
											visible : true,
											className : "btn-primary",
											closeModal : true
										}
									}
								});
							}
						}
					})
//					location.href="/recipe/detail?reqRecipeNo="+recipeNo;
				}
			})
		};
		
		
		$(".ingredientList a").hover(function(){
			$(this).css("background-color","#ffca8a");
		},function(){
			$(this).css("background-color","#FF9D23");
		});
		
		$(".recipe.comment-box-input.not-login a").hover(function(){
			$(this).css("background-color","#ffca8a");
		},function(){
			$(this).css("background-color","#FF9D23");
		});
		
		const stars = $(".recipe.gradeinput span");
		stars.on("click",function(){
			stars.css("color","gray");
			$(this).prevAll("span").css("color","gold");
			$(this).css("color","gold");
			
			const index=stars.index(this);
			
			const recipeNo = $("#recipeNo").val();
			const memberNo = $("#memberNo").val();
			
			console.log(index);
			console.log(recipeNo);
			console.log(memberNo);
			$.ajax({
				url:"/recipe/gradeInsert",
				type:"post",
				data: {recipeNo:recipeNo,memberNo:memberNo,recipeRate:index+1},
				success:function(result){
					if(result === "success"){
						swal({
							title : "알림",
							text : "평점 등록이 완료되었습니다.",
							icon : "warning",
							buttons : {
								confirm : {
									text:"확인",
									value:true,
									visible : true,
									className : "btn-primary",
									closeModal : true
								}
							}
						});
					}else{
						swal({
							title : "알림",
							text : "평점 등록 권한이 없습니다",
							icon : "warning",
							buttons : {
								confirm : {
									text:"확인",
									value:true,
									visible : true,
									className : "btn-primary",
									closeModal : true
								}
							}
						});
						
					}
				}
		});
		});
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>