<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<div class="content-title">신고 관리 페이지</div>
			<section class="allMember-section">
			<table class="allMember-tbl">
				<tr>
					<th style="width:16%;">선택</th>
					<th style="width:44%;">제목</th>
					<th style="width:18%;">신고수</th>
					<th style="width:22%;">작성자</th>
				</tr>
				<tr th:each="r,status : ${reqSet.list}">
					<td>
						<div class="checkbox-wrap">
							<input type="checkbox" class="chk" th:id="${'chk'+status.count}">
							<label th:for="${'chk'+status.count}"></label>
						</div>
					</td>
					<td th:text="${r.recipeTitle}"></td>
					<td th:text="${r.totalCount}"></td>
					<td th:text="${r.memberId}"></td>
		</section>			
	</main>				
</body>
</html>