<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/js/jquery-3.6.0.js"></script>
</head>
<body>
	<div class="suspendFrm-wrap">
		<div>
			<form action="/admin/allMember" method="post">
				<div>
					<label for="suspendDays">정지할 일수를 입력하세요.</label>
					<input type="text" name="suspendDays" id="suspendDays">
				</div>
				<div>
					<label for="suspendReason">정지 사유를 입력하세요.</label>
					<textarea name="suspendReason" id="suspendReason"></textarea>
				</div>
				<div>
					<button type="submit" id="close-btn">닫기</button>
				</div>	
			</form>
		</div>
	</div>
</body>
</html>