<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main class="content">
		<div class="main-content">
			<div class="main-image">
				<img src="static/IMG/test.jpg" name="main-title-img">
			</div>
			<div class="recommend-content-wrap">
				<div class="recommend-title">오늘의 추천 레시피</div>
				<div class="recommend-content">
					<img src="static/IMG/test.jpg" name="content-img">
					<p>매콤한 닭갈비</p>
					<p>dkdlel**</p>
				</div>
				<div class="recommend-content">
						<img src="static/IMG/test.jpg" name="content-img">
						<p>떡볶이</p>
						<p>qlalf**</p>
					</div>
					<div class="recommend-content">
						<img src="static/IMG/test.jpg" name="content-img">
						<p>피자</p>
						<p>wlqrkwk**</p>
					</div>
				</div>
			
		</div>
	</main>
</body>
</html>