<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.image-wrap{
		overflow: hidden;
		margin:0 auto;
	}
	.image-wrap>img{
		width:100%;
		
	}
	.recommend-wrap{
		margin:0 auto;
		overflow:hidden;
		margin:0 auto;
	}
	.recommend-title{
		
	}
	.recommend-content>div{
		width:100%;
		
	}
	.recommend-content>div>img{
		width:30%;
		float: left;
	}
	
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<div class="main-content">
			<div class="image-wrap">
				<img src="/img/test.jpg" name="title-img">
			</div>
			<div class="recommend-wrap">
				<div class="recommend-title">오늘의 추천 레시피</div>
				<div class="recommend-content">
					<div>
						<img src="/img/test.jpg" name="recommend-img">
						<p>떡볶이</p>
						<p>qlalf**</p>
					</div>	
					<div>
						<img src="/img/test.jpg" name="recommend-img">
						<p>떡볶이</p>
						<p>qlalf**</p>
					</div>
					<div>
						<img src="/img/test.jpg" name="recommend-img">
						<p>떡볶이</p>
						<p>qlalf**</p>
					</div>
				</div>
			</div>
			<div class="new-wrap">
				<div class="new-title">인기/최신 레시피</div>
				<div class="new-content">
					<img src="/img/test.jpg" name="new-img">
					<p>한식</p>
					<p>이 계란찜 해보세요</p>
					<p>asda**</p>
					<p>2025.08.22 오후 8:00</p>
				</div>
			</div>		
		</div>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>