<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">
  <select id="selectMemberList" resultType="member">
  	select * from
  		(select rownum as rnum, m.* from
  			(select 
  			member_no, member_id, member_level 
  		   from member_tbl order by 1
  		   )m
  		  )
  		 where #{start} <![CDATA[<=]]> rnum and rnum<![CDATA[<=]]> #{end} 
  </select>
  
  <select id="selectMemberTotalCount" resultType="int">
  	select count(*) from member_tbl
  </select>
  
   <select id="login" resultType="member">
	SELECT * FROM MEMBER_TBL
	WHERE MEMBER_ID = #{memberId} 
	and MEMBER_PW = #{memberPw}  	
  </select>
  
  <update id="changeLevel">
  	update member_tbl set member_level = #{member_level} where member_no = #{member_no}
  </update>
</mapper>

