<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">
  <select id="selectMemberList" resultType="member">
  	select * from
  		(select rownum as rnum, v.* from
  			(select 
  			member_no, 
  			member_id, 
  			member_nickname, 
  			(select count(*) from recipe_report_tbl where recipe_no in 
            (select recipe_no from recipe_tbl where member_no=m.member_no)) recipe_report_count,
            (select count(*) from recipe_comment_report_tbl where recipe_comment_no in 
            (select recipe_comment_no from recipe_comment_tbl where member_no=m.member_no)) recipe_comment_report_count,
            (select count(*) from qna_report_tbl where qna_no in 
            (select qna_no from qna_tbl where member_no=m.member_no)) qna_report_count,
            (select count(*) from qna_comment_report_tbl where qna_comment_no in 
            (select qna_comment_no from qna_comment_tbl where member_no=m.member_no)) qna_comment_report_count,
            ((select count(*) from recipe_report_tbl where recipe_no in 
            (select recipe_no from recipe_tbl where member_no=m.member_no))
            +
            (select count(*) from recipe_comment_report_tbl where recipe_comment_no in 
            (select recipe_comment_no from recipe_comment_tbl where member_no=m.member_no))
            +
            (select count(*) from qna_report_tbl where qna_no in 
            (select qna_no from qna_tbl where member_no=m.member_no))
            +
            (select count(*) from qna_comment_report_tbl where qna_comment_no in 
            (select qna_comment_no from qna_comment_tbl where member_no=m.member_no))
            ) all_report_count,
  			member_level,
            nvl((select suspend_days from member_suspend  
            where member_no= m.member_no and sysdate between suspend_date and suspend_date + suspend_days),0) suspend_days,
            (select count(*) from member_suspend  
            where member_no=m.member_no and sysdate between suspend_date and suspend_date + suspend_days) suspend_yn
  		   from member_tbl m
           order by 1
  		   )v
  		  )
  		 where #{start} <![CDATA[<=]]> rnum and rnum<![CDATA[<=]]> #{end} 
  </select>
  
  <select id="selectMemberTotalCount" resultType="int">
  	select count(*) from member_tbl
  </select>
  
   <select id="login" resultType="member">
	SELECT m.*,
    (select suspend_reason from member_suspend where member_no=m.member_no) suspend_reason,
    nvl((select suspend_days from member_suspend
            where member_no= m.member_no and sysdate between suspend_date and suspend_date + suspend_days),0) suspend_days,
    (select count(*)
    from member_suspend
     where member_no=m.member_no and sysdate between suspend_date and suspend_date + suspend_days) suspend_yn
     FROM MEMBER_TBL m
	WHERE MEMBER_ID = #{memberId}
	AND MEMBER_PW = #{memberPw}
  </select>
  
  <update id="changeLevel">
  	update member_tbl set member_level = #{memberLevel} where member_no = #{memberNo}
  </update>
  
  <insert id="insertMember">
  	insert into member_tbl values(
  	member_seq.nextval,
  	#{memberId},
  	#{memberPw},
  	#{memberName},
  	#{memberNickname},
  	#{memberEmail},
  	sysdate,
  	'보통맛')
  </insert>
  
  <select id="selectOneMember" resultType="member">
  	SELECT * FROM MEMBER_TBL
	WHERE MEMBER_ID = #{memberId} 
  </select>
  <select id="selectOneNickname" resultType="member">
  		SELECT * FROM MEMBER_TBL
		WHERE MEMBER_NICKNAME = #{memberNickname}
  </select>
  
  <select id="selectOneEmail" resultType="member">
  	SELECT * FROM MEMBER_TBL
	WHERE MEMBER_EMAIL = #{memberEmail}
  </select>
  
  <insert id="suspendMember">
    insert into member_suspend values(suspend_seq.nextval, #{memberNo}, sysdate, #{suspendDays}, #{suspendReason})
  </insert>
  
  <select id="searchMemberTotalCount" resultType="int">
  	select count(*) from member_tbl where member_nickname like '%'||#{member_nickname}||'%'
  </select>
  
  <select id="searchMemberList" resultType="member">
  	select * from
  		(select rownum as rnum, v.* from
  			(select 
  			member_no, 
  			member_id, 
  			member_nickname, 
  			(select count(*) from recipe_report_tbl where recipe_no in 
            (select recipe_no from recipe_tbl where member_no=m.member_no)) recipe_report_count,
            (select count(*) from recipe_comment_report_tbl where recipe_comment_no in 
            (select recipe_comment_no from recipe_comment_tbl where member_no=m.member_no)) recipe_comment_report_count,
            (select count(*) from qna_report_tbl where qna_no in 
            (select qna_no from qna_tbl where member_no=m.member_no)) qna_report_count,
            (select count(*) from qna_comment_report_tbl where qna_comment_no in 
            (select qna_comment_no from qna_comment_tbl where member_no=m.member_no)) qna_comment_report_count,
            ((select count(*) from recipe_report_tbl where recipe_no in 
            (select recipe_no from recipe_tbl where member_no=m.member_no))
            +
            (select count(*) from recipe_comment_report_tbl where recipe_comment_no in 
            (select recipe_comment_no from recipe_comment_tbl where member_no=m.member_no))
            +
            (select count(*) from qna_report_tbl where qna_no in 
            (select qna_no from qna_tbl where member_no=m.member_no))
            +
            (select count(*) from qna_comment_report_tbl where qna_comment_no in 
            (select qna_comment_no from qna_comment_tbl where member_no=m.member_no))
            ) all_report_count,
  			member_level,
            nvl((select suspend_days from member_suspend  
            where member_no= m.member_no and sysdate between suspend_date and suspend_date + suspend_days),0) suspend_days,
            (select count(*) from member_suspend  
            where member_no=m.member_no and sysdate between suspend_date and suspend_date + suspend_days) suspend_yn
  		   from member_tbl m where member_nickname like '%'||#{memberNickname}||'%'
           order by 1
  		   )v
  		  )
  		  where #{start} <![CDATA[<=]]> rnum and rnum<![CDATA[<=]]> #{end} 
  </select>
  
  <update id="updateMember">
  	update member_tbl set
  		member_nickname = #{memberNickname} 
  	where member_id = #{memberId}
  </update>
  <select id="findMemberId" resultType="member">
  	SELECT member_id FROM MEMBER_TBL
	where member_email = #{memberEmail}
  </select>
  
  <select id="monthlyJoinUsers" resultType="joinUserDate">
	select to_char(member_join_date,'yyyy-mm') months,
	count(*) as join_counts
	from member_tbl
	group by to_char(member_join_date,'yyyy-mm')
	order by months
  </select>
  <select id="findIdEmail" resultType="member">
  	SELECT * FROM MEMBER_TBL
	where member_email = #{memberEmail}
	and member_id = #{memberId}
  </select>
  
  <update id="newPw">
  	update member_tbl set
    member_pw = #{memberPw}
  	where member_id = #{memberId}
    and member_email = #{memberEmail}
  </update>
  <delete id="deleteMember">
  	delete from member_tbl where member_no = #{memberNo}
  </delete>
 	
 <select id="selectAllRecipe" resultType="member">
 	SELECT RECIPE_NO,RECIPE_TITLE,RECIPE_WRITE_DATE FROM MEMBER_TBL
	LEFT JOIN RECIPE_TBL USING (MEMBER_NO)
	WHERE MEMBER_NO= #{memberNo}
 </select>
  
  <select id="headerSearch" resultType="member">
  	SELECT qna_title,qna_date, recipe_title,recipe_write_date,member_nickname FROM MEMBER_TBL
	LEFT JOIN RECIPE_TBL USING (MEMBER_NO)
	LEFT JOIN QNA_TBL USING (MEMBER_NO)
  </select>
  
</mapper>

