<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.qna.model.dao.QnaDao">
	<select id="selectAllQna" resultType="qna">
	select * from
		(select rownum rnum, a.* from
    		(select b.qna_no, b.qna_title, c.member_name, b.qna_date
    		from qna_tbl b 
    		join member_tbl c 
    	on (b.member_no = c.member_no) order by qna_no desc)
    	a) where rnum between #{startPage} and #{endPage}
	</select>
	<select id="selectQnaTotalCount" resultType="int">
		select count(*) from qna_tbl
	</select>
	
	<select id="selectOneQnaList" resultType="qna">
		select q.qna_no, q.member_no, m.member_name, q.qna_title, q.qna_content, q.qna_date, q.qna_count
		from qna_tbl q 
		join member_tbl m on q. member_no = m.member_no
		where qna_no = #{qnaNo}
	</select>
	
	<select id="selectAllQnaCommentList" resultType="qnaComment">
	SELECT M.MEMBER_NAME, QC.QNA_COMMENT_CONTENT, QC.QNA_COMMENT_DATE, QC.qna_comment_no, M.member_no, QC.QNA_NO
    FROM QNA_COMMENT_TBL QC 
    JOIN MEMBER_TBL M ON QC.MEMBER_NO = M.MEMBER_NO WHERE QNA_NO = #{qnaNo} order by qna_comment_no desc
	</select>
	
	<insert id="insertQnaComment">
		insert into qna_comment_tbl
			values(qna_comment_tbl_seq.nextval,
			 #{memberNo},
			  #{qnaNo},
			   #{qnaCommentContent},
			    sysdate,
			     null)
	</insert>
	
	<select id="selectAllQnaReport" resultType="int">
		select count(*) from qna_report_tbl where qna_no = #{qnaNo} and member_no = #{memberNo}
	</select>
	<insert id="insertQnaReport">
		insert into qna_report_tbl
   			values(#{qnaNo}, #{memberNo}, sysdate)
	</insert>
	
	<delete id="deleteQnaComment">
		delete from qna_comment_tbl where qna_comment_no = #{qnaCommentNo}
	</delete>
	
	<select id="getQnaNo" resultType="int">
		select qna_tbl_seq.nextval from dual
	</select>
	<insert id="insertQna">
		insert into qna_tbl
			values(
        		qna_tbl_seq.nextval,
	        	#{memberNo},
	    	    #{qnaTitle},
    	    	#{qnaContent},
        		sysdate,
    	    	default,
		        null
    )
	</insert>
	
	<delete id="deleteQna">
		delete from qna_tbl where qna_no = #{qnaNo}
	</delete>
	
	<select id="qnaReportedList" resultType="qna">
		select * from(
    select rownum rnum,a.*
    from(
    select  
        qna_no,
        qna_title,
        (select count(*) from qna_report_tbl where qna_no = q.qna_no) report_count,
        member_id,
        (select max(qna_report_date)
    	 from qna_report_tbl
    	 join qna_tbl using(qna_no) 
    	 where qna_no=q.qna_no
    	) qna_report_date
    from qna_tbl q
    join member_tbl using(member_no)
    order by report_count desc, qna_report_date) a ) 
    where report_count <![CDATA[>=]]> 1 and rnum between #{start} and #{end}
	</select>
	
	<select id="qnaReportedTotalCount" resultType="int">
		select count(*) from
		(select 
		 qna_no, 
         qna_title,
           (select count(*) 
            from qna_report_tbl 
            where qna_no = r.qna_no) report_count,
        	member_id
    		from qna_tbl r
    		join member_tbl using(member_no)
   		) 
   		 where report_count <![CDATA[>=]]> 1 
	</select>
	
	<select id="qnaCommentReportedList" resultType="qnaComment">
		select * from(
    select rownum rnum,a.*
    from(
    select  
        qna_comment_no,
        qna_comment_content,
        (select count(*) from qna_comment_report_tbl where qna_comment_no = q.qna_comment_no) report_count,
        member_id,
        (select max(qna_report_date)
    	 from qna_comment_report_tbl
    	 join qna_comment_tbl using(qna_comment_no) 
    	 where qna_comment_no=q.qna_comment_no
    	) qna_comment_report_date
    from qna_comment_tbl q
    join member_tbl using(member_no)
    order by report_count desc, qna_comment_report_date) a ) 
    where report_count <![CDATA[>=]]> 1 and rnum between 1 and 10
	</select>
	
	<select id="qnaCommentReportedTotalCount" resultType="int">
		select count(*) from
		(select 
		 qna_comment_no, 
         qna_comment_content,
           (select count(*) 
            from qna_comment_report_tbl 
            where qna_comment_no = r.qna_comment_no) report_count,
        	member_id
    		from qna_comment_tbl r
    		join member_tbl using(member_no)
   		) 
   		 where report_count <![CDATA[>=]]> 1
	</select>
	
	<select id = "selectAllQnaCommentReport" resultType="int">
		select count(*) from qna_comment_report_tbl where qna_comment_no = #{qnaCommentNo} and member_no = #{memberNo} and qna_no = #{qnaNo}
	</select>
	<insert id="reportQnaComment">
		insert into qna_comment_report_tbl
		values(#{qnaNo}, #{memberNo}, #{qnaCommentNo}, sysdate)
	</insert>
	
	<update id="updateQnaComment">
		update qna_comment_tbl set qna_comment_content = #{qnaCommentContent} where qna_comment_no = #{qnaCommentNo} and qna_no = #{qnaNo}
	</update>
	
	<update id="updateQna">
		update qna_tbl
		set qna_title = #{qnaTitle}, qna_content = #{qnaContent}
		where qna_no = #{qnaNo}	
	</update>
</mapper>
