<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.qna.model.dao.QnaDao">
	<select id="selectAllQna" resultType="qna">
	select * from
		(select rownum rnum, a.* from
    		(select b.qna_no, b.qna_title, c.member_name, b.qna_date
    		from qna_tbl b 
    		join member_tbl c 
    	on (b.member_no = c.member_no) order by qna_no desc)
    	a) where rnum between #{startPage} and #{endPage}
	</select>
	<select id="selectQnaTotalCount" resultType="int">
		select count(*) from qna_tbl
	</select>
	
	<select id="selectOneQnaList" resultType="qna">
		select * from qna_tbl where qna_no = #{qnaNo}
	</select>
	
	<select id="selectAllQnaCommentList" resultType="qnaComment">
	SELECT * FROM QNA_COMMENT_TBL where qna_no=#{qnaNo}
	</select>
	
	<insert id="insertQnaComment">
		insert into qna_comment_tbl
			values(qna_comment_tbl_seq.nextval,
			 #{memberNo},
			  #{qnaNo},
			   #{qnaCommentContent},
			    sysdate,
			     null)
	</insert>
	
	<select id="selectAllQnaReport" resultType="int">
		select count(*) from qna_report_tbl where qna_no = #{qnaNo} and member_no = #{memberNo}
	</select>
	<insert id="insertQnaReport">
		insert into qna_report_tbl
   			values(#{qnaNo}, #{memberNo}, sysdate)
	</insert>
	
	<delete id="deleteQnaComment">
		delete from qna_comment_tbl where qna_comment_no = #{qnaCommentNo}
	</delete>
	
	<select id="getQnaNo" resultType="int">
		select qna_tbl_seq.nextval from dual
	</select>
	<insert id="insertQna">
		insert into qna_tbl values(qna_tbl_seq.nextval, #{memberNo}, #{qnaTitle}, #{qnaContent}, sysdate, #{qnaCount}, null)
	</insert>
</mapper>
