<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.recipe.model.dao.RecipeDao">
  	<select id="recipeList" resultType="recipe">
  		SELECT * 
    FROM (
        SELECT ROWNUM RNUM,A.* 
        FROM (
                SELECT R.RECIPE_NO,
                		R.RECIPE_TYPE,
                        R.RECIPE_THUMBNAIL_PATH,
                        R.RECIPE_TITLE,
                        M.MEMBER_NICKNAME,
                        R.RECIPE_COOKING_TIME,
                        R.RECIPE_LEVEL,
                        R.RECIPE_VIEW_COUNT,
                        R.MEMBER_NO,
                        R.RECIPE_WRITE_DATE,
                        R.RECIPE_UPDATE_DATE,
                        NVL(G.AVG_RATE,0) AS RECIPE_RATE
                    FROM RECIPE_TBL R
                    JOIN MEMBER_TBL M
                    ON (M.MEMBER_NO = R.MEMBER_NO)
                    LEFT JOIN 
                        (SELECT RECIPE_NO,AVG(RECIPE_RATE) AVG_RATE FROM RECIPE_GRADE_TBL GROUP BY RECIPE_NO) G
                    ON(G.RECIPE_NO=R.RECIPE_NO) ORDER BY RECIPE_NO DESC
            ) A
        ) WHERE RNUM BETWEEN #{startNum} AND #{endNum}
  	</select>
  	<select id="allRecipeCount">
  		SELECT COUNT(*) FROM RECIPE_TBL
  	</select>
  	<select id="titleSearchCount">
  		SELECT COUNT(*) FROM RECIPE_TBL WHERE RECIPE_TITLE LIKE '%'||#{searchInput}||'%'
  	</select>
  	<select id="ingredientSearchCount">
  		SELECT COUNT(*) FROM (SELECT DISTINCT RECIPE_NO FROM RECIPE_INGREDIENT_TBL RIGHT JOIN RECIPE_TBL USING(RECIPE_NO) WHERE RECIPE_INGREDIENT_NAME LIKE '%'||#{searchInput}||'%')
  	</select>
  	<select id="writerSearchCount">
  		SELECT COUNT(*) FROM RECIPE_TBL LEFT JOIN MEMBER_TBL USING(MEMBER_NO) WHERE MEMBER_NICKNAME = #{searchInput}
  	</select>
  	<select id="titleSearchList" resultType="recipe">
  	SELECT * 
    FROM (
        SELECT ROWNUM RNUM,A.* 
        FROM (
                SELECT R.RECIPE_NO,
                		R.RECIPE_TYPE,
                        R.RECIPE_THUMBNAIL_PATH,
                        R.RECIPE_TITLE,
                        M.MEMBER_NICKNAME,
                        R.RECIPE_COOKING_TIME,
                        R.RECIPE_LEVEL,
                        R.RECIPE_VIEW_COUNT,
                        R.MEMBER_NO,
                        R.RECIPE_WRITE_DATE,
                        R.RECIPE_UPDATE_DATE,
                        NVL(G.AVG_RATE,0) AS RECIPE_RATE
                    FROM RECIPE_TBL R
                    JOIN MEMBER_TBL M
                    ON (M.MEMBER_NO = R.MEMBER_NO)
                    LEFT JOIN 
                        (SELECT RECIPE_NO,AVG(RECIPE_RATE) AVG_RATE FROM RECIPE_GRADE_TBL GROUP BY RECIPE_NO) G
                    ON(G.RECIPE_NO=R.RECIPE_NO) 
WHERE R.RECIPE_TITLE LIKE '%' || #{searchInput} || '%' 
ORDER BY RECIPE_NO DESC
            ) A
        ) WHERE RNUM BETWEEN #{startNum} AND #{endNum}
  	</select>
  	<select id="ingredientSearchList" resultType="recipe">
  	
  	</select>
  	<select id="writerSearchList" resultType="recipe">
  	  	SELECT * 
    FROM (
        SELECT ROWNUM RNUM,A.* 
        FROM (
                SELECT R.RECIPE_NO,
                		R.RECIPE_TYPE,
                        R.RECIPE_THUMBNAIL_PATH,
                        R.RECIPE_TITLE,
                        M.MEMBER_NICKNAME,
                        R.RECIPE_COOKING_TIME,
                        R.RECIPE_LEVEL,
                        R.RECIPE_VIEW_COUNT,
                        R.MEMBER_NO,
                        R.RECIPE_WRITE_DATE,
                        R.RECIPE_UPDATE_DATE,
                        NVL(G.AVG_RATE,0) AS RECIPE_RATE
                    FROM RECIPE_TBL R
                    JOIN MEMBER_TBL M
                    ON (M.MEMBER_NO = R.MEMBER_NO)
                    LEFT JOIN 
                        (SELECT RECIPE_NO,AVG(RECIPE_RATE) AVG_RATE FROM RECIPE_GRADE_TBL GROUP BY RECIPE_NO) G
                    ON(G.RECIPE_NO=R.RECIPE_NO) 
WHERE M.MEMBER_NICKNAME = #{searchInput}
ORDER BY RECIPE_NO DESC
            ) A
        ) WHERE RNUM BETWEEN #{startNum} AND #{endNum}
  	</select>
  	<select id="recipeDetail" resultType="recipe">
  		SELECT * 
FROM RECIPE_TBL
WHERE RECIPE_NO=#{reqRecipeNo}
  	</select>
  	
  	<select id="recipeIngredientList" resultType="recipeIngredient">
  		SELECT * FROM RECIPE_INGREDIENT_TBL WHERE RECIPE_NO=#{reqRecipeNo}
  	</select>
  	
  	<select id="recipeCookingOrderList" resultType="recipeCookingOrder">
  		SELECT * FROM RECIPE_COOKING_ORDER_TBL WHERE RECIPE_NO=#{reqRecipeNo} ORDER BY RECIPE_COOKING_ORDER ASC
  	</select>
  	
  	<select id="recipeCommentList" resultType="recipeComment">
		SELECT RECIPE_COMMENT_NO,MEMBER_NO,RECIPE_COMMENT_CONTENT,RECIPE_COMMENT_DATE,RECIPE_NO,RECIPE_COMMENT_UPDATE_DATE,MEMBER_NICKNAME FROM RECIPE_COMMENT_TBL 
		JOIN MEMBER_TBL USING(MEMBER_NO)
		WHERE RECIPE_NO=#{recipeNo} ORDER BY RECIPE_COMMENT_NO DESC
  	</select>
  	

  	<select id="recipeReportedList" resultType="recipe">
  		select * from(
    select rownum rnum,a.*
    from(
    select  
        recipe_no,
        recipe_title,
        (select count(*) from recipe_report_tbl where recipe_no = r.recipe_no) report_count,
        member_id,
        (select max(recipe_report_date)
    	 from recipe_report_tbl
    	 join recipe_tbl using(recipe_no) 
    	 where recipe_no=r.recipe_no
    	) recipe_report_date
    from recipe_tbl r
    join member_tbl using(member_no)
    order by report_count desc, recipe_report_date) a ) 
    where report_count <![CDATA[>=]]> 1 and #{start} <![CDATA[<=]]> rnum and rnum<![CDATA[<=]]> #{end}
  	</select>
  	
  	<select id="recipeReportedTotalCount" resultType="int">
  		select count(*) from
		(select 
		 recipe_no, 
         recipe_title,
           (select count(*) 
            from recipe_report_tbl 
            where recipe_no = r.recipe_no) report_count,
        	member_id
    		from recipe_tbl r
    		join member_tbl using(member_no)
   		) 
   		 where report_count <![CDATA[>=]]> 1 
  	</select>

  	<insert id="recipeCommentInsert">
  		INSERT INTO RECIPE_COMMENT_TBL VALUES(
  												RECIPE_COMMENT_SEQ.NEXTVAL,
  												#{memberNo},
  												#{recipeCommentContent},
  												SYSDATE,
  												#{recipeNo},
  												NULL
  												)
  	</insert>
	<select id="recipeGradeSelect">
		SELECT COUNT(*) FROM RECIPE_GRADE_TBL WHERE RECIPE_NO=#{recipeNo} AND MEMBER_NO=#{memberNo}
	</select>
	<insert id="recipeGradeInsert">
		INSERT INTO RECIPE_GRADE_TBL (
			MEMBER_NO,
 			RECIPE_NO,
  			RECIPE_RATE
		) VALUES(
			#{memberNo},
			#{recipeNo},
			#{recipeRate}
		)
		
	</insert>
	
	<update id="recipeGradeUpdate">
		UPDATE RECIPE_GRADE_TBL SET RECIPE_RATE=#{recipeRate} WHERE RECIPE_NO=#{recipeNo} AND MEMBER_NO=#{memberNo}
	</update>
	
	<select id="recipeReportSelect">
		SELECT COUNT(*) FROM RECIPE_REPORT_TBL WHERE RECIPE_NO=#{recipeNo} AND MEMBER_NO=#{memberNo}
	</select>
	
	<insert id="recipeReport">
		INSERT INTO RECIPE_REPORT_TBL (
			MEMBER_NO,
 			RECIPE_NO,
  			RECIPE_REPORT_DATE
		) VALUES(
			#{memberNo},
			#{recipeNo},
			SYSDATE
		)
	</insert>
	
	<select id="recipeCommentReportSelect">
		SELECT COUNT(*) FROM RECIPE_COMMENT_REPORT_TBL WHERE RECIPE_COMMENT_NO=#{recipeCommentNo} AND MEMBER_NO=#{memberNo}
	</select>
	
	<insert id="recipeCommentReport">
		INSERT INTO RECIPE_COMMENT_REPORT_TBL (
			MEMBER_NO,
 			RECIPE_COMMENT_NO,
  			RECIPE_COMMENT_REPORT_DATE
		) VALUES(
			#{memberNo},
			#{recipeCommentNo},
			SYSDATE
		)
	</insert>
	
	<delete id="recipeDelete">
		DELETE RECIPE_TBL WHERE RECIPE_NO=#{recipeNo}
	</delete>
	
	<delete id="recipeCommentDelete">
		DELETE RECIPE_COMMENT_TBL WHERE RECIPE_COMMENT_NO=#{recipeCommentNo}
	</delete>
	
	<select id="recipeNoCreate" resultType="int">
		SELECT RECIPE_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<insert id="recipeRInsert">
		INSERT INTO RECIPE_TBL (
		    RECIPE_NO,
		    MEMBER_NO,
		    RECIPE_TITLE,
		    RECIPE_TYPE,
		    RECIPE_LEVEL,
		    RECIPE_COOKING_TIME, 
		    RECIPE_CAUTION, 
		    RECIPE_THUMBNAIL_PATH,
		    RECIPE_WRITE_DATE
		  ) VALUES (
		    #{recipeNo}, 
		    #{memberNo}, 
		    #{recipeTitle}, 
		    #{recipeType}, 
		    #{recipeLevel},
		    #{recipeCookingTime}, 
		    #{recipeCaution}, 
		    #{recipeThumbnailPath},
		    SYSDATE
		  )
	</insert>
	
	<insert id="recipeRIInsert">
		 INSERT INTO RECIPE_INGREDIENT_TBL (
			 	RECIPE_INGREDIENT_NO, 
		    	RECIPE_NO, 
		    	RECIPE_INGREDIENT_NAME,
		    	RECIPE_INGREDIENT_VOLUME
	    	) VALUES (
	    		RECIPE_INGREDIENT_NO_SEQ.NEXTVAL,
	    		#{recipeNo},
	    		#{recipeIngredientName},
	    		#{recipeIngredientVolume}
	    		)
	</insert>
	<insert id="recipeRCOLInsert">
		 INSERT INTO RECIPE_COOKING_ORDER_TBL (
	 				RECIPE_COOKING_ORDER,
      				RECIPE_NO, 
      				RECIPE_COOKING_CONTENT, 
      				RECIPE_COOKING_ORDER_IMG_PATH
      				) VALUES (
      				#{recipeCookingOrder},
      				#{recipeNo}, 
      				#{recipeCookingContent}, 
      				#{recipeCookingOrderImgPath}
      				)
	</insert>

	<select id="editRecipeInfo" resultType="recipe">
		SELECT * FROM RECIPE_TBL WHERE RECIPE_NO=#{recipeNo}
	</select>
	
	<select id="editRecipeIngredientInfo" resultType="recipeIngredient">
		SELECT * FROM RECIPE_INGREDIENT_TBL WHERE RECIPE_NO=#{recipeNo}
	</select>
	
	<select id="editRecipeCookingOrderInfo" resultType="recipeCookingOrder">
		SELECT * FROM RECIPE_COOKING_ORDER_TBL WHERE RECIPE_NO=#{recipeNo}
	</select>
	<select id="recipeCommentReportedList" resultType="recipeComment">
		select * from(
    select rownum rnum,a.*
    from(
    select  
        recipe_comment_no,
        recipe_comment_content,
        (select count(*) from recipe_comment_report_tbl where recipe_comment_no = r.recipe_comment_no) report_count,
        member_id,
        (select max(recipe_comment_report_date)
    	 from recipe_comment_report_tbl
    	 join recipe_comment_tbl using(recipe_comment_no) 
    	 where recipe_comment_no=r.recipe_comment_no
    	) recipe_comment_report_date
    from recipe_comment_tbl r
    join member_tbl using(member_no)
    order by report_count desc, recipe_comment_report_date) a ) 
    where report_count <![CDATA[>=]]> 1 and rnum between #{start} and #{end}
	</select>
	<select id="recipeCommentReportedTotalCount" resultType="int">
		select count(*) from
		(select 
		 recipe_comment_no, 
         recipe_comment_content,
           (select count(*) 
            from recipe_comment_report_tbl 
            where recipe_comment_no = r.recipe_comment_no) report_count,
        	member_id
    		from recipe_comment_tbl r
    		join member_tbl using(member_no)
   		) 
   		 where report_count <![CDATA[>=]]> 1 
	</select>
	
	<delete id="deleteIngredient">
		DELETE RECIPE_INGREDIENT_TBL WHERE RECIPE_NO=#{recipeNo}
	</delete>
	
	<update id="recipeUpdate">
		UPDATE RECIPE_TBL SET RECIPE_TITLE=#{recipeTitle},RECIPE_CAUTION=#{recipeCaution} WHERE RECIPE_NO=#{recipeNo}
	</update>
	
	<update id="editComment">
		UPDATE RECIPE_COMMENT_TBL SET RECIPE_COMMENT_CONTENT=#{editText} WHERE RECIPE_COMMENT_NO=#{recipeCommentNo} AND RECIPE_NO=#{recipeNo}
	</update>
	
	<select id="recipeGradeRankingr" resultType="recipe">
		SELECT * FROM (
SELECT * FROM (SELECT ROWNUM R,A.* FROM (SELECT * FROM (SELECT RECIPE_NO,AVG(RECIPE_RATE) AVGRATE FROM RECIPE_GRADE_TBL GROUP BY RECIPE_NO) JOIN RECIPE_TBL USING(RECIPE_NO) ORDER BY AVGRATE DESC) A) WHERE R=1) JOIN MEMBER_TBL USING(MEMBER_NO)
	</select>
	<select id="recipeGradeRankingm" resultType="member">
		SELECT * FROM (
SELECT * FROM (SELECT ROWNUM R,A.* FROM (SELECT * FROM (SELECT RECIPE_NO,AVG(RECIPE_RATE) AVGRATE FROM RECIPE_GRADE_TBL GROUP BY RECIPE_NO) JOIN RECIPE_TBL USING(RECIPE_NO) ORDER BY AVGRATE DESC) A) WHERE R=1) JOIN MEMBER_TBL USING(MEMBER_NO)
	</select>
	<select id="recipeGradeRankingDouble" resultType="double">
		SELECT AVGRATE FROM (
SELECT * FROM (SELECT ROWNUM R,A.* FROM (SELECT * FROM (SELECT RECIPE_NO,AVG(RECIPE_RATE) AVGRATE FROM RECIPE_GRADE_TBL GROUP BY RECIPE_NO) JOIN RECIPE_TBL USING(RECIPE_NO) ORDER BY AVGRATE DESC) A) WHERE R=1) JOIN MEMBER_TBL USING(MEMBER_NO)
	</select>
</mapper>
